* {
    margin: 0;
    padding: 0;
}
body{
    background-color: #efe;
}
.wheel {
    margin-top: 80px;
}
ul {
    width: 30em;
    height: 30em;
    margin: 0 auto;
    position: relative;
    border: 3px solid #2a1c18;
    border-radius: 50%;
    list-style: none;
    overflow: hidden;
    box-shadow: inset 1px 1px 2px 2px #2a1c18, 0px 0px 2px 2px #2a1c18;
}
li {
    position: absolute;
    border: 1px solid #2a1c18;
    background-color: rgb(230, 230, 211);
    width: 15em;
    height: 15em;
    transform-origin: 100% 100%;
    box-shadow: 0px 0px 1px 1px #2a1c18;
}
li:hover {
    background-color: rgb(209, 209, 183);
}
#green {
    background-color: #96fc96;
    /* background-color: #71d4ab; */
}
li:nth-child(1) {
    transform: translateY(105%) scale(2.1);
}
li:nth-child(2) {
    transform: translateY(105%) rotate(90deg) scale(2.1);
}
li:not(:nth-child(1)):not(:nth-child(2)) {
    display: none;
}
.text {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2em;
    font-family: 'Roboto', sans-serif;
    font-weight: 100;
    font-size: 50px;
    transform: translateX(10px);
    color: #633018;
    text-shadow: 1px 1px 2px black;
}
.tier {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1em;
    font-family: 'Roboto', sans-serif;
    font-weight: 100;
    font-size: 60px;
    transform: translateX(-3.3em);
    color: #633018;
    text-shadow: 1px 1px 3px black;
}
.table {
    margin: 7em auto 0 auto;;
    padding: 2px;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    color: #2a1c18;
    border: 2px solid #2a1c18;
    border-radius: 10px;
    background-color: rgb(223, 191, 159);
}
th, td {
    width: 5em;
    height: 2em;
    background-color: rgb(230, 230, 211);
    border: 1px solid #2a1c18;
    border-radius: 4px;
}
td:first-child {
    width: 10.5em;
    font-weight: bold;
}
button {
    width: 10em;
    height: 2em;
    margin-right: 13em;
    font-size: 0.3em;
    background-color: rgb(230, 230, 211);
    border: 2px solid #2a1c18;
    border-radius: 10px;
    /* transform: translateY(-0.5em); */
}
button:hover {
    background-color: #90EE90;
}
